<template>
    <div>
        <h1>Page Admin</h1>
        <hr class="hr1">

        <section v-if="this.currentUser.role == 1 && this.currentUser != null">

            <section v-if="this.loading">
                <p>Chargement des films...</p>
            </section>
            <admin-add-film v-else :films="this.films"> </admin-add-film>
            <hr class="hr1">
            <section v-if="this.loading">
                <p>Chargement des films...</p>
            </section>
            <AdminDeleteFilm v-else :films="this.films"> </AdminDeleteFilm>
        </section>

        <div v-else>
            <p>Vous n'avez pas les droits pour etre sur cette page</p>
        </div>

    </div>
</template>

<script>
import AdminAddFilm from '@/components/AdminAddFilm.vue'
import AdminDeleteFilm from '@/components/AdminDeleteFilm.vue'
import FilmService from '@/services/FilmService'

    export default {
        components:{
            AdminAddFilm,
            AdminDeleteFilm,
        },
        data(){
            return{
                error: null,
                loading: false,
                films: null,
                currentUser: localStorage.user ? JSON.parse(localStorage.user) : null
            }
        },
        created(){
            this.loading = true;
            FilmService.getFilms(1)
            .then(response => {
			this.films = response.data.data;
            this.filmLength = response.data.meta.total;
            
            for(let i = 2; i <= response.data.meta.last_page; i++)
            {
                FilmService.getFilms(i)
                .then(response => this.films = this.films.concat(response.data.data))
                .catch(error => this.status['error'] = error);
            }
    })
            .catch(error => {
                this.error += error;
            })
            .finally(() => this.loading = false);  
        },
    }
</script>

<style lang="scss" scoped>
h1{
    width: 94%;
    margin:auto;
    border-radius: 5px;
    box-shadow: 1px 2px 8px rgb(196, 188, 188);
    margin-bottom:0px;
    margin-top: 0px;
    padding:18px;
    background-color: rgba(219, 16, 16, 0.815);
    font-weight: bold;
    color: white;
}
.hr1{
    color: rgba(219, 16, 16, 0.815);
    width: 85%;
    margin:auto;
    margin-top:25px;
    margin-bottom:10px;
}
</style>
