<template>
    <div>
        <password-form></password-form>
    </div>
</template>

<script>
import PasswordForm from "@/components/PasswordForm.vue";

    export default {
        components:{
            PasswordForm
        }
    }
</script>
