<template>
    <div>
        <h2>Se connecter</h2>
        <connection-form @logged="commitLogged" :history="history"></connection-form>
    </div>
</template>

<script>
import ConnectionForm from '@/components/ConnectionForm.vue';

    export default {
        components: {
            ConnectionForm
        },
        props:{
            history: {
                type: String,
                default: null
            }
        },
        methods:{
            commitLogged(){
                this.$emit('logged', true);
            }
        }
    }

</script>

<style lang="css" scoped>
h2 {
    color: black;
}
</style>