<template >
    <div>
        <h1>Détail du film</h1>

        <div v-if="loading"> chargement... </div>
        <FilmDetail v-else v-bind:film='filmComplet' v-bind:critics='critics' v-bind:ratingScore="convertScoreTo5Star()"/>

        <section v-if="!this.critics"> Chargement des commentaires </section> 
        <section v-else>
            <AddCritic v-bind:critics="this.critics" v-if="currentUser != null" :filmID="this.filmComplet.id"></AddCritic>
        </section>

        <section v-if="!this.critics"> Chargement des commentaires </section> 
        <MemberCritics v-else v-bind:film="this.filmComplet" v-bind:critic="this.critics"></MemberCritics>
    </div>
</template>

<script>
import FilmDetail from '@/components/FilmDetail.vue'
import AddCritic from '@/components/AddCritic.vue'
import FilmService from '@/services/FilmService.js'
import MemberCritics from '@/components/MemberCritics.vue'

export default {
    components: {
        FilmDetail,
        AddCritic,
        MemberCritics,
    },
    props:{
        id: {},
        film:{
            type: String,
            default: null
        },
    },
    data() {
        return {
            error: null,
            loading: false,
            filmComplet : JSON.parse(this.film),
            critics: null,
            rating: null,
            currentUser: localStorage.user ? JSON.parse(localStorage.user) : null
        }
    },
    created(){
        this.getCritics();
    },
    methods:{
        // Si on considere que les scores sont sur 10 dans la BD ...
        convertScoreTo5Star(){
            return this.rating * 5 / 10;
        },
        getCritics(){
            this.loading = true;
            FilmService.getFilm(this.filmComplet.id)
            .then(response => {
                this.critics = response.data.critic;
                let total = 0.0
                this.critics.forEach(element => {
                    total += parseFloat(element.score);
                });
                this.rating = parseFloat(total/this.critics.length).toPrecision(3);
            })
            .catch(error => {
                this.error += error;
            })
            .finally(() => this.loading = false);
        }
    },
    watch: {
        film(){
            let filmObject = JSON.parse(this.film);
            if(filmObject.id != this.filmComplet.id)
            {
                this.filmComplet = JSON.parse(this.film);
                this.getCritics();
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.memberCritics{
    margin-bottom: 50px;
}
</style>
