<template>
	<div>
		<img id="image" alt="Fresh Tomatoes logo" src="../assets/logo.jpg">
		<welcome-home msg="Bienvenue sur Fresh Tomatoes!"/>
		<section v-if="error">
			<h3>Oups, désolé, quelque chose s'est mal passé, veuillez réssayer plus tard....</h3>
		</section>
		<section v-else>
			<div v-if="loading">
				<h2>Chargement des derniers films ajoutés...</h2>
			</div>
			<last-movies-list v-else :films="films"/>
		</section>
	</div>
</template>

<script>
import WelcomeHome from '@/components/WelcomeHome.vue'
import LastMoviesList from '@/components/LastMoviesList.vue'
import FilmService from '@/services/FilmService.js'

export default {
	name: 'HomeView',
	components: {
		WelcomeHome,
		LastMoviesList
	},
	data() {
		return {
			films: [],
			filmLength: null,
			error: null,
			loading: false
		}
	},
	created() {
		this.loading = true;
        FilmService.getFilms(1)
        .then(response => {
			this.films = response.data.data;
            this.filmLength = response.data.meta.total;
            
            for(let i = 2; i <= response.data.meta.last_page; i++)
            {
                FilmService.getFilms(i)
                .then(response => this.films = this.films.concat(response.data.data))
                .catch(error => this.status['error'] = error);
            }
		})
		.catch(error => this.error = error)
        .finally(() => this.loading = false);
	},
}
</script>

<style lang="css" scoped>
a {
	cursor: pointer;
	cursor: hand;
}
h3 {
	color: red;
}
</style>
