<template>
    <div>
        <h3>Déconnexion</h3>
        <p>Vous êtes bien déconnecté.</p>
        <button id="bouton" @click="backward">ok</button>
    </div>
</template>

<script>
import router from '@/router';

    export default{
        created() {
            localStorage.removeItem("user");
            this.$emit('logged', false);
        },
        props:{
            history: {
                type: String,
                default: null
            }
        },
        data() {
            return{
                routes: [
                    "admin",
                    "user",
                    "user/password"
                ]
            }
        },
        methods:{
            backward(){
                let historyObject = JSON.parse(this.history.history);
                if(this.routes.includes(this.history.name))
                {
                    router.push('/');
                }
                else
                {
                    if(historyObject != null)
                    {
                        router.push({name: this.history.name, params: {id: historyObject.id, film: historyObject.film}});
                    }
                    else
                    {
                        router.push({name: this.history.name});
                    }
                }
            }
        }
    }
</script>

<style lang="css" scoped>
h3 {
    font-family: Arial, Helvetica, sans-serif;   
	font-weight: bolder;
    color: grey;
}
p {
    font-family: Arial, Helvetica, sans-serif;   
	font-weight: lighter;
	color: black;
}
#bouton {
    min-width: 100px;
    min-height: 25px;
    margin: 30px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;   
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}
#bouton:hover{
    border: 2px solid red;
    box-shadow: 5px 5px 10px grey;
}
</style>
