<template>
    <div>
        <section v-if="!this.currentUser">
            <AddUser title="Creer un compte"> </AddUser>
        </section>
        <UpdateUser v-else title="Modifier votre compte"> </UpdateUser>
    </div>
</template>

<script>
import AddUser from '@/components/AddUser.vue'
import UpdateUser from '@/components/UpdateUser.vue'

export default {
    components:{
        AddUser,
        UpdateUser,
    },
    data(){
        return {
            currentUser: localStorage.user ? JSON.parse(localStorage.user) : null
        }
    }
}
</script>
