<template>
    <div>
        <h4>Acteurs</h4>
        <ul v-for="acteur in formatName" :key="acteur.id">
            <li>{{acteur.first_name}} {{acteur.last_name}}</li>
        </ul>  
    </div>
</template>

<script>
    export default {
        props: {
            acteurs:{
                type: Array,
                default: () => []
            }
        },
        computed: {
            formatName(){
                this.acteurs.forEach(element => {
                    element.first_name = element.first_name[0].toUpperCase() + element.first_name.slice(1).toLowerCase();
                });
                this.acteurs.forEach(element => {
                    element.last_name = element.last_name[0].toUpperCase() + element.last_name.slice(1).toLowerCase();
                });
                return this.acteurs;
            }
        }
    }

</script>

<style lang="scss" scoped>
ul{
    list-style-type: none;
    width: 40%;
    margin: auto;
    padding: 0;
}
h4{
    margin-bottom:5px;
}
</style>
