<template>
    <div class="container">
        <h2 v-if="wasCommented"> Modifier votre critique</h2>
        <h2 v-else>Ajouter une critique</h2>

        <star-ratings v-model="this.scoreChoosen" class="star"></star-ratings>
        <span class="text-danger" v-if="v$.scoreChoosen.$error"> {{v$.scoreChoosen.$errors[0].$message}} </span>

        <form id="formulaire" @submit.prevent="validateForm()">
            <textarea v-if="!this.wasCommented"  v-model="this.comment" name="comment" id="comment" cols="73" rows="6" placeholder="Entrer votre critique ici (Optionnel)"></textarea>
            <textarea v-else v-model="this.comment" name="comment" id="comment" cols="73" rows="6"></textarea>
            <div v-if="error != null">
                <h3>{{ error }}</h3>
            </div>
            <div v-if="success != null">
                <h3 id="success">{{ success }}</h3>
            </div>
            <section v-if="wasCommented">
                <button class="btn btn-primary mb-3" type="submit" >Modifier</button>
            </section>
            <button v-else class="btn btn-primary mb-3" type="submit" >Ajouter</button>
        </form>
        
    </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.min.css";
import StarRatings from 'vue3-star-ratings'
import UseValidate from "@vuelidate/core";
import {required, maxLength} from '@vuelidate/validators';
import FilmService from "@/services/FilmService";

    export default {
        components:{
            StarRatings,
        },
        props:{
            filmID:{
                type:Number,
                default:null
            },
            title:{
                type:String
            },
            critics:{
                type:Array,
            }
        },
        data(){
            return {
                v$: UseValidate(),
                scoreChoosen: 0,
                comment: '',
                currentUser: localStorage.user ? JSON.parse(localStorage.user) : null,
                wasCommented: null,
                actualCriticID:null,
                error: null,
                success: null
            }
        },
        validations(){
            return{
                scoreChoosen: {required, maxLength: maxLength(250)},
            }
        },
        created(){
            let commentExisting = this.critics.filter(c => c.user_id == this.currentUser.id).map(c => c.comment);
            this.comment = commentExisting;
            this.actualCriticID = this.critics.filter(c => c.user_id == this.currentUser.id).map(c => c.id);
            if(this.comment.length > 0){
                this.wasCommented = true;
            }else this.wasCommented = false;
            
            let scoreFound = this.critics.filter(c => c.user_id == this.currentUser.id).map(c => c.score);
            if(this.scoreChoosen == null){
                this.scoreChoosen = 0;
            }else{
                this.scoreChoosen = parseFloat(scoreFound[0]);
            }
        },
        methods: {
            async validateForm(){
                this.error = null;
                this.success = null;
                await this.v$.$validate();
                if(this.v$.$error){
                    this.error = "Veuillez corriger les erreurs du formulaire avant de continuer";
                }
                else{
                    if(this.wasCommented){
                        this.putCritic();
                    }else{
                        this.storeCritic();                       
                    }
                }
            },
            async storeCritic(){
                let newCritic = {user_id:this.currentUser.id , score: this.scoreChoosen, comment: this.comment};
                let header = { headers: { Authorization: `Bearer ${this.currentUser.token}`} };
                let answer = '';
                answer = await FilmService.postCritic(this.filmID, newCritic, header);
                console.log(answer);

                if(answer.status == 201){
                    this.success = 'Critique envoyé avec succès';
                } 
                else{
                    this.erreur = "Oups, désolé, quelque chose s'est mal passé, veuillez réssayer plus tard....";
                }
            },
            async putCritic(){
                let newCritic = {user_id:this.currentUser.id , score: this.scoreChoosen, comment: this.comment};
                let header = { headers: { Authorization: `Bearer ${this.currentUser.token}`} };
                let answer = '';
                answer = await FilmService.putCritic(this.filmID, newCritic,this.actualCriticID, header);
                console.log(answer);

                if(answer.status == 200){
                    this.success = 'Critique modifié avec succès';
                } 
                else{
                    this.erreur = "Oups, désolé, quelque chose s'est mal passé, veuillez réssayer plus tard....";
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
.container{
    margin-top:30px;
} 
.star{
    width:30%;
    margin-bottom: 0px;
    margin-top:0px;
}
button{
    display:block;
    margin:auto;
}
h3 {
	color: red;
    margin: 30px;
}
#success {
    color: green;
}
</style>
