<template>
    <div>
        <h1 class="mb-3">{{title}}</h1>

        <form @submit.prevent="validateForm()">
            <div class="form-group col-md-6 mx-auto">
                <input v-model="this.userName" class="form-control" name="userName" type="text" placeholder="Nom d'utilisateur">
                <span class="text-danger" v-if="v$.userName.$error"> {{v$.userName.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6 mx-auto mt-3">
                <input v-model="this.fullName" class="form-control" name="fullName" type="text" placeholder="Nom Complet">
                <span class="text-danger" v-if="v$.fullName.$error"> {{v$.fullName.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6 mx-auto mt-3">
                <input v-model.trim="this.password" class="form-control" name="passeword" type="password" placeholder="Mot de passe">
                <span class="text-danger" v-if="v$.password.$error"> {{v$.password.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6 mx-auto mt-3 ">
                <input v-model.trim="this.confirmPassword" class="form-control " name="confirmPass" type="password" placeholder="Confirmer le mot de passe">
                <span class="text-danger" v-if="v$.confirmPassword.$error"> {{v$.confirmPassword.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6  mx-auto mt-3">
                <input v-model="this.email" class="form-control" name="email" type="text" placeholder="Adresse courriel">
                <span class="text-danger" v-if="v$.email.$error"> {{v$.email.$errors[0].$message}} </span>
            </div>

            <div v-if="error != null">
                <h3>{{ error }}</h3>
            </div>
            <div v-if="success != null">
                <h3 id="success">{{ success }}</h3>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-danger mt-3 w-25">Créer</button>
            </div>
        </form>
    </div>
</template>

<script>
import useValidate from "@vuelidate/core";
import {required, minLength, maxLength, sameAs, email } from '@vuelidate/validators';
import UserService from "@/services/UserService";

export default {
    setup(){
        return {v$:useValidate()}
    },
    props:{
        title:String,
    },
    data(){
        return{
            userName: '',
            password: '',
            confirmPassword: '',
            email: '',
            fullName: '',
            currentUser: localStorage.user ? JSON.parse(localStorage.user) : null,
            error: null,
            success: null
        }
    },
    validations(){
        return{
            userName: {required, minLength: minLength(3), maxLength: maxLength(50)},
            password: {required, minLength: minLength(6), maxLength: maxLength(50)},
            confirmPassword: {required, minLength: minLength(6), maxLength: maxLength(50), sameAs: sameAs(this.password)},
            email: {required, email},
            fullName: {required, minLength: minLength(3), maxLength: maxLength(50)},
        }
    },
    methods: {
        async validateForm() {
            this.error = null;
            this.success = null;
            await this.v$.$validate();
            
            if(this.v$.$error){
                this.error = "Veuillez corriger les erreurs du formulaire avant de continuer";
            }
            else{
                let user = {
                    email: this.email,
                    login: this.userName,
                    first_name: this.fullName.split(/[ ]+/)[0],
                    last_name: this.fullName.split(/[ ]+/)[1],
                    password: this.password,
                    role_id: 2,
                };

                let reponse = await UserService.post(user);

                if(reponse.request.statusText == "Ok"){
                    this.success = "Utilisateur ajouté avec succès";
                }
                else{
                    this.erreur = "Oups, désolé, quelque chose s'est mal passé, veuillez réssayer plus tard....";
                }
            }
        },
    },
}
</script>

<style lang="scss" scoped>
h3 {
	color: red;
    margin: 30px;
}
#success {
    color: green;
}
</style>
