<template>
    <div>
        <h2 class="mt-2">Supprimer un film</h2>
        <hr>
        
        <form @submit.prevent="deleteFilm()">
            <div class="form-group col-md-6 mx-auto">
                <select @change="getSelectedFilmId($event)" class="form-control text-center" name="film" > 
                    <option disabled="true" selected="true" value="-1">Choisir un film à supprimer *</option>
                    <option v-for="film in this.films" :key="film.id" :value="film.id"> {{film.title}} </option>
                </select>
            </div>

            <div v-if="erreur != null">
                <h3>{{ erreur }}</h3>
            </div>
            <div v-if="success != null">
                <h3 id="success">{{ success }}</h3>
            </div>

            <div class="form-group">
                <button  type="submit" class="btn btn-danger mt-3 w-25 mb-5"> Supprimer </button>
            </div>
        </form>

    </div>
</template>

<script>
import FilmService from '@/services/FilmService'

    export default {
        props:{
            films:{
                type:Array,
            }
        },
        data(){
            return{
                selectedFilmID:null,
                ratings:null,
                currentUser: localStorage.user ? JSON.parse(localStorage.user) : null,
                erreur: null,
                success: null
            }
        },
        created(){
            this.getAllRatingsAvailable();
        },
        methods: {
            async deleteFilm(){
                this.erreur = null;
                this.success = null;
                if(this.selectedFilmID == null || this.selectedFilmID == '-1'){
                    this.erreur = "Le choix d'un film est obligatoire";
                }
                else{
                    let header = { headers: { Authorization: `Bearer ${this.currentUser.token}`} };
                    let response = await FilmService.deleteFilm(this.selectedFilmID, header);
                    
                    if(response.request.statusText == 'ok'){
                    this.success = "Film supprimé avec succès";
                    }else{
                        this.erreur = "Oups, désolé, quelque chose s'est mal passé, veuillez réssayer plus tard....";
                    }
                }
            },
            getSelectedFilmId(event){
                this.selectedFilmID = event.target.value;
            },
            getAllRatingsAvailable(){
                //src: https://www.delftstack.com/howto/javascript/javascript-unique-array/
                this.ratings = this.films.map(f=>f.rating).filter((value,index,array)=>array.indexOf(value)===index);
            },
        }
    }
</script>

<style lang="scss" scoped>
    hr{
    color: rgba(219, 16, 16, 0.815);
    width: 30%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}
.hr2{
    color: rgba(219, 16, 16, 0.815);
    width: 40%;
    margin:auto;
    margin-top:20px;
    margin-bottom:0px;
}
h3 {
	color: red;
    margin: 30px;
}
#success {
    color: green;
}
</style>
