<template>
    <div>
        <h2>Ajouter un film</h2>
        <hr>
        <form @submit.prevent="validateForm()">
            <div class="form-group col-md-6 mx-auto">
                <input v-model.trim="this.title" class="form-control" name="titre" type="text" placeholder="Titre *">
                <span class="text-danger" v-if="v$.title.$error"> {{v$.title.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6  mx-auto">
                <input id="imageFilm" @change="assignImage()" class="form-control " name="image" type="file" placeholder="Image" accept="image/x-png,image/gif,image/jpeg">
                <span class="text-danger" v-if="v$.file.$error"> {{v$.file.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6  mx-auto">
                <input v-model.trim="this.year" class="form-control" name="dateProd" type="text" placeholder="Année de production *">
                <span class="text-danger" v-if="v$.year.$error"> {{v$.year.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6 mx-auto ">
                <input v-model.trim="this.length" class="form-control " name="duree" type="text" placeholder="Durée en minute *">
                <span class="text-danger" v-if="v$.length.$error"> {{v$.length.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6  mx-auto">
            <p v-if="this.ratingsAvailables.length == 0"> Chargement des classements</p>

                <select v-else @change="assignRating()" class="form-control" name="classement" placeholder="Classement *" id="selectRating">
                    <option name="placeholder" id="" selected=true disabled="true">Classement </option>
                    <option  v-for="rating in this.ratingsAvailables" :key="rating" :value="rating"> {{rating}} </option>
                </select>
                <span class="text-danger" v-if="v$.rating.$error"> {{v$.rating.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6  mx-auto">
                <input v-model="this.actors" class="form-control" name="acteurs" type="text" placeholder="Acteurs">
                <span class="text-danger" v-if="v$.actors.$error"> {{v$.actors.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6  mx-auto">
                <textarea v-model="this.synopsis" class="form-control" name="Synopsis" type="text" placeholder="Synopsis *"></textarea>
                <span class="text-danger" v-if="v$.synopsis.$error"> {{v$.synopsis.$errors[0].$message}} </span>
            </div>

            <div v-if="erreur != null">
                <h3>{{ erreur }}</h3>
            </div>
            <div v-if="success != null">
                <h3 id="success">{{ success }}</h3>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-danger mt-3 w-25">Ajouter</button>
            </div>
        </form>

    </div> 
</template>

<script>
import "bootstrap/dist/css/bootstrap.min.css";
import FilmService from "@/services/FilmService";
import useValidate from "@vuelidate/core";
import {required, minLength, maxLength, minValue } from '@vuelidate/validators';

    export default {
        setup: () => ({ v$: useValidate() }),
        data(){
            return{
                title:null,
                file:null,
                year:null,
                length:null,
                rating:null,
                actors:[],
                synopsis:null,
                currentUser: localStorage.user ? JSON.parse(localStorage.user) : null,
                ratingsAvailables:[],
                erreur: null,
                success: null
            }
        },
        validations(){
            return {
                title: {required},
                file: {},
                year: {required, maxLength: maxLength(4), minLength: minLength(4), minValue:minValue(2022)},
                length: {required},
                rating: {required},
                actors: {},
                synopsis: {required},
            }
        },
        props: {
            films:{
                type:Array,
            },
        },
        created(){
            this.getAllRatingsAvailable();
        },
        methods: {
            async getAllRatingsAvailable(){
                let ratings = await fetch('http://radiant-plains-67953.herokuapp.com/api/ratings').then(response => response.json()).then(function(data) {return data} );
                this.ratingsAvailables = ratings.map(r => r.name);
            },
            async validateForm(){
                this.erreur = null;
                this.success = null;
                await this.v$.$validate();
                if(this.v$.$error){
                    this.erreur = "Veuillez corriger les erreurs du formulaire avant de continuer";
                }
                else{
                    let film = {
                        title:this.title, release_year:this.year, length:this.length, description:this.synopsis, rating:this.rating,language_id:1, image:null,
                    }
                    let response;
                    let header = { headers: { Authorization: `Bearer ${this.currentUser.token}`} };
                    await FilmService.postFilm(film, header).then(answer => response = answer);
                    if(response){
                        this.success = "Film ajouté avec succès";
                    }
                }
            },
            assignRating(){
                this.rating = document.getElementById("selectRating").value;
            },
            assignImage(){
                this.file = document.getElementById("imageFilm").files[0];
            },
        }
    }
</script>

<style lang="scss" scoped>
hr{
    color: rgba(219, 16, 16, 0.815);
    width: 30%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}
.form-control{
    margin-top:8px;
    text-align: center;
}
h3 {
	color: red;
    margin: 30px;
}
#success {
    color: green;
}
</style>
