<template>
    <div>
        <form @submit.prevent="validate()">
            <div class="row-form">
                <label for="login">Nom d'utilisateur: </label>
                <input type="text" name="login" id="login" v-model="login">
            </div>
            <div class="row-form">
                <label for="password">Mot de passe: </label>
                <input type="password" name="password" id="password" v-model="password">
            </div>
            <div v-if="error != null">
                <h3>{{ error }}</h3>
            </div>
            <div v-if="success != null">
                <h3 id="success">{{ success }}</h3>
            </div>
            <button type="submit" id="connection">Se connecter</button>
        </form>
    </div>
</template>

<script>
import UseValidate from "@vuelidate/core";
import {required, maxLength} from '@vuelidate/validators';
import UserService from '@/services/UserService.js'
import router from "@/router";

    export default {
        props:{
            history: {
                type: String,
                default: null
            }
        },
        data(){
            return {
                v$: UseValidate(),
                login: null,
                password: null,
                user: {
                    'login': "",
                    'password': ""
                },
                connectedUser: {
                    'id': "",
                    'login': "",
                    'role': "",
                    'password': "",
                    'token': ""
                },
                error: null,
                success: null
            }
        },
        validations(){
            return{
                login: {required, maxLength: maxLength(50)},
                password: {required, maxLength: maxLength(50)}
            }
        },
        methods: {
            async validate(){
                this.erreur = null;
                this.success = null;
                await this.v$.$validate();
                if(this.v$.$error){
                    this.error = "Le nom d'utilisateur ou le mot de passe sont requis et ne peuvent excéder 50 caractères.";
                }
                else{
                    this.user['login'] = this.login;
                    this.user['password'] = this.password;
                    this.connect();
                }
            },
            connect(){
                UserService.login(JSON.stringify(this.user))
                .then(response => {
                    this.connectedUser['id'] = response.data.id;
                    this.connectedUser['login'] = this.user['login'];
                    this.connectedUser['role'] = response.data.role_id;
                    this.connectedUser['password'] = this.user['password'];
                    this.connectedUser['token'] = response.data.token;
                    localStorage.setItem("user", JSON.stringify(this.connectedUser));
                    this.$emit('logged');
                    this.backward();
                })
                .catch(() => {
                    this.error = "Le nom d'utilisateur ou le mot de passe est incorrect.";
                });
            },
            backward(){
                let historyObject = JSON.parse(this.history.history);
                if(historyObject != null)
                {
                    router.push({name: this.history.name, params: {id: historyObject.id, film: historyObject.film}});
                }
                else
                {
                    router.push({name: this.history.name});
                }
            }
        }
    }
</script>

<style lang="css" scoped>
.row-form {
    margin: 3%;
}
label {
    margin-right: 3%;;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

    color: grey;
}
input {
    padding: 5px 10px 5px 10px;
    font-family: Arial, Helvetica, sans-serif;   
    border: 2px solid grey;
    border-radius: 5px;
}
input:hover {
    border: 2px solid red;
}
input:focus {
    outline: 1px solid red;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.8);
}
#connection {
    min-width: 100px;
    min-height: 25px;
    margin: 0 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;   
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}
#connection:hover{
    border: 2px solid red;
    box-shadow: 5px 5px 10px grey;
}
#password {
    margin-left: 20px;
}
h3 {
	color: red;
    margin: 30px;
}
#success {
    color: green;
}
</style>
