<template class="mainContainer">
    <div class="commentContainer">
        <div v-for="critic in criticsSortedByDate" :key="critic.id">
            <div class="singleComment">
                <div class="loginName">{{getUserName(critic)}}</div>
                <div>" {{critic.comment}} "</div>
                <div class="date">{{formatDate(critic.creation_date)}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            critics:{
                type: Array,
                default: () => []
            }
        },
        data(){
            return {
                criticsData: null
            }
        },
        methods:{
            formatDate(date){
                const months = ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"];
                let dateRecu = new Date(date);
                let day = dateRecu.getDay();
                let month = dateRecu.getMonth();
                let year = dateRecu.getFullYear();

                return day + " " + months[month] + " " + year;
            },
            getUserName(p_critic){
                return p_critic.critic_first_name + " " + p_critic.critic_last_name;
            }
        },
        created(){
            this.criticsData = this.critics;
        },
        updated(){
            this.criticsData = this.critics;
        },
        computed:{
            criticsSortedByDate(){
                this.criticsData.forEach(element => {
                    element.creation_date = new Date(element.creation_date);
                });
                
                let sortedCritics = [...this.criticsData].sort((a,b) => b.creation_date - a.creation_date);
                return sortedCritics;
            },
        }
    }
</script>

<style lang="scss" scoped>
.commentContainer{
    width: 70%;
    margin:auto;
    margin-bottom: 20px;
}
.singleComment{
    padding: 2px;
    margin:5px;
    float: left;
    border:solid black 0px;
    border-radius: 20px;;
    width: 48.3%;
    box-shadow: 1px 1px 8px black;
}
.loginName{
    text-align: left;
    margin-left:12px;
}

.date{
    text-align: right;
    margin-right:12px;
    font-size: small;
}
</style>
