/* eslint-disable no-mixed-spaces-and-tabs */
<template>
	<div>
		<h3> {{ film.title }}</h3>
		<img :src="film.image ? film.image : require('../assets/imageReplacement.jpg')" width="80"/>
		<div class="loading" v-if="scoreLoaded">
			<star-ratings class="stars" v-model="rating" :showControl="false" :disableClick="true" :starSize="starSize"></star-ratings>
		</div>
		<p>{{ shortenedDescription }}</p>
		<div class="loading" v-if="searched">
			<p id="rating">Classement: {{ film.rating }}</p>
			<p id="length">Durée: {{ film['length'] }} min</p>
		</div>
		<div class="details">
			<router-link id="router" :to="{name: 'details', params: {id: film.id, film: JSON.stringify(film)}}" @click="close">Détails</router-link>
		</div>
	</div>
</template>

<script>
import StarRatings from 'vue3-star-ratings'
import FilmService from '@/services/FilmService.js'

	export default {
		components:{
			StarRatings
		},
		props: {
			film: {
				type: Object,
				default: null
			},
			searched: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				critics: [],
				scoreLoaded: false,
				starSize: "16",
				rating: 0.0
			}
		},
		created(){
			FilmService.getFilm(this.film.id)
			.then(response => this.critics = response.data.critic)
			.then(() => {
				this.rating = this.filmScoreCalculated();
				this.scoreLoaded = true
			})
			.catch(error => console.log(error));
		},
		computed: {
			shortenedDescription(){
				return this.film.description.substring(0, 100) + "..."
			}
		},
		methods: {
			close(){
				this.$emit("close");
			},
			filmScoreCalculated(){
				let score = 0.0;
				this.critics.forEach(critic => score += (parseFloat(critic.score) / this.critics.length));
				return score /= 20;
			}
		}
	}
</script>

<style lang="css" scoped>
h3 {
	color: green;
	font-weight: bolder;
}
p {
	color: black;
}
.details {
    width: 150px;
    height: 30px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;   
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}
.details:hover {
    border: 2px solid red;
    box-shadow: 5px 5px 10px grey;
}
#rating {
	color: yellowgreen;
}
#length {
	color: grey;
}
.loading{
	min-width: 100%;
	min-height: auto;
}
#router {
	text-decoration: none;
	font-weight: bold;
	color: red;
}
</style>
