<template>
    <div id="results">
        <section v-if="status? status.error != null : false">
            <h3 id="error">Oups, désolé, quelque chose s'est mal passé, veuillez réssayer plus tard....</h3>
        </section>
        <section v-else-if="status? status.searching : false">
            <div id="close">
                <button class="control" id="boutonClose" @click="close" >Fermer</button>
            </div>
            <div>
                <h3>{{ title }}</h3>
            </div>
            <section v-if="loaded">
                <h4>{{ nombreResultat }}</h4>
                <section v-if="films.length > 0">
                    <div id="pagination">
                        <button class="control" @click="prevPage" :disabled="pageNumber===1">Précédent</button>
                        <p id="page">Page {{ pageNumber }}</p>
                        <button class="control" @click="nextPage" :disabled="pageNumber >= pageCount">Suivant</button>
                    </div>
                    <ul>
                        <li v-for="film in PaginatedFilms" :key="film.title">
                            <div id="filmSeparator"></div>
                            <film-overview @close="close" :film="film" :searched="status.searching"></film-overview>
                        </li>
                    </ul>
                </section>
            </section>
        </section>
    </div>
</template>

<script>
import FilmOverview from '@/components/FilmOverview.vue'

    export default {
        components: {
            FilmOverview
        },
        props: {
			films: {
				type: Array,
				default: () => []
			},
            status: {
                type: Object,
                default: null
            },
            pageSize: {
                type: Number,
                required: false,
                default: 20
            }
		},
        data() {
            return {
                loaded: false,
                title: "Recherche en cours...",
                nombreResultat: "",
                pageNumber: 1,
                search: false
            }
        },
        watch: {
            'status.finished'(){
                if(this.status.finished == true && this.films.length == 0)
                {
                    this.title = "Résultats de la recherche";
                    this.nombreResultat = "Aucuns résultats correspondant aux critères";
                    this.loaded = true;
                }
                else if(this.status.finished == true && this.films.length > 0)
                {
                    this.setTitleResults();
                }
            },
            'films.length'(){
                if(this.status.finished == true && this.films.length > 0)
                {
                    this.setTitleResults();
                }
            }
        },
        computed: {
            PaginatedFilms() {
                const start = (this.pageNumber-1) * this.pageSize,
                    end = start + this.pageSize;

                return this.films.slice(start, end);
            },
            pageCount() {
                let pageCount = this.films.length,
                    pageSize = this.pageSize;
                return Math.ceil(pageCount / pageSize);
            }
        },
        methods: {
            nextPage() {
                this.pageNumber++;
            },
            prevPage() {
                this.pageNumber--;
            },
            close(){
                this.loaded = false,
                this.title = "Recherche en cours...",
                this.nombreResultat = "",
                this.pageNumber = 1
                this.$emit('close');
            },
            setTitleResults(){
                this.title = "Résultats de la recherche";
                this.nombreResultat = "Nombre de résultats correspondant aux critères: " + this.films.length;
                this.loaded = true;
            }
        }
    }
</script>

<style lang="css" scoped>
h4 {
    color: grey;
}
ul {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
}
/* Code CSS pour un Fading Separator pour les films
    Source: https://codepen.io/Oddgson/pen/VPrYbv */
#filmSeparator {
    position: relative;
    margin-bottom: 1%;
    height: 1px;
}
#filmSeparator:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(255, 0, 0), transparent);
}
#results {
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 7px 5px -2px lightgray;;
}
#pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
#page {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    margin: 0;
    padding-top: 25px;
}
#error {
    color: red;
}
.control {
    min-width: 100px;
    min-height: 25px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;   
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}
.control:hover {
    border: 2px solid red;
    box-shadow: 5px 5px 10px grey;
}
#close {
    min-width: 100%;
    min-height: 50px;
}
#boutonClose {
    float: right;
}
</style>
