<template>
    <div>
        <h3>{{film.title}} </h3>
        <div style="font-weight:bold">{{film.rating}} </div>
        <div><img :src="film.image ? film.image : require('../assets/imageReplacement.jpg')" alt="Image du film"></div>
        <section>
            <star-ratings class="star" v-model="filmScore" :showControl="false" :disableClick="true" ></star-ratings>
            <p class="vts">Nombre de votes total: {{criticCount}}</p>
        </section>

        <div>Durée: {{film.length}} minutes </div>
        <div>Année de parution: {{film.release_year}} </div>

        <div class="syno mt-3">Synopsis 
            <p class="descr">{{film.description}}</p> 
        </div>

        <section v-if="erreur">
            {{erreur}}
        </section>
        <section v-if="success != null">
            <h3 id="success">{{ success }}</h3>
        </section>
        <section v-else>
            <div v-if="loading">
                <div>Chargement des acteurs...</div>
            </div>
                <acteur-list class="mt-3" v-else :acteurs="this.actors"></acteur-list>
        </section>
        <section v-if="currentUser">
            <div v-if="currentUser.role == 1">
                <button class="btn btn-danger mt-4" @click="this.deleteFilm()">Supprimer le film</button>
            </div>
        </section>
    </div>
</template>

<script>
import StarRatings from 'vue3-star-ratings'
import FilmService from '@/services/FilmService.js'
import ActeurList from '@/components/ActeursList.vue'

    export default {
        components: {
            ActeurList,
            StarRatings
        },
        props:{
            film:{
                type: Object,
                default: null
            },    
            critics:{
                type: Array,
                default: null
            },
            ratingScore:{
                type:Number,
                default:0.0,
            }
        }, 
        data() {
            return {
                erreur: null,
                success: null,
                loading: false,
                actors: [], 
                filmScore: this.getFilmScore(),
                criticCount: this.critics.length,
                currentUser: localStorage.user ? JSON.parse(localStorage.user) : null
            }
        },
        created(){
            this.loading = true;
            FilmService.getActors(this.film.id)
			.then(response => {
				this.actors = response.data;
			})
			.catch(() => {
				this.erreur = "Oups, désolé, quelque chose s'est mal passé, veuillez réssayer plus tard....";
			})
            .finally( () => this.loading = false);     
        },
        methods: {
            getFilmScore(){
                if(this.critics.length < 5){
                    return 0;
                }
                else{
                    return this.ratingScore;
                }
            },
            async deleteFilm(){
                this.erreur = null;
                this.success = null;
                let header = { headers: { Authorization: `Bearer ${this.currentUser.token}`} };
                let response = await FilmService.deleteFilm(this.film.id, header);

                if(response.request.statusText == 'ok'){
                    this.success = "Film supprimé avec succès";
                }else{
                    this.erreur = "Oups, désolé, quelque chose s'est mal passé, veuillez réssayer plus tard....";
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
img{
    width:150px;
}
.vts{
    margin-top:2px;
}
.star{
    margin:0px;
    padding:0px;
}
.syno{
    margin-bottom:0px;
    width:50%;
    margin:auto;
    font-weight: bold;
}
.descr{
    font-weight: normal;
    margin-top:5px;
}
h3 {
	color: red;
    margin: 30px;
}
#success {
    color: green;
}
</style>
