<template>
    <div>
        <div>
            <span id="searchLabel">Recherche par nom:
                <input id="searchInput" v-model="keyword"/>
            </span>
            <button class="control" @click="search">Rechercher</button>
        </div>
    </div>
</template>

<script>
import FilmService from '@/services/FilmService.js'

    export default {
        data() {
            return {
                films: [],
                filmLength: null,
                keyword: "",
                status :
                    {
                    'error': null,
                    'searching': false,
                    'finished': false
                    }
            }
        },
        computed: {
            sortedResults() {
                return [...this.films].sort((a,b) => {
                    a['release_year'] - b['release_year']
                })
            }
        },
        methods: {
            async search(){
                this.status['error'] = null;
                this.status['searching'] = true;
                this.status['finished'] = false;
                this.$emit('status', this.status);

                this.filmLength = null;

                await FilmService.getFilmsSearchResults(this.keyword)
                .then(response => {
                    this.films = response.data.data;
                    this.filmLength = response.data.meta.total;

                    for(let i = 2; i <= response.data.meta.last_page; i++)
                    {
                        FilmService.getFilmsSearchResults(this.keyword + "&page=" + i)
                        .then(response => this.films = this.films.concat(response.data.data))
                        .catch(error => this.status['error'] = error)
                    }
                })
                .catch(error => this.status['error'] = error)
                .finally(() => this.status['finished'] = true);
            }
        },
        watch:{
            'status.error'(){
                if(this.status['error'] != null)
                    this.$emit('status', this.status);
            },
            'films.length'(){
                if(this.films.length == this.filmLength)
                    this.$emit('films', this.sortedResults);
                    this.$emit('status', this.status);
            },
            'status.finished'(){
                if(this.status['finished'] == true && this.films.length == 0)
                    this.$emit('films', this.films);
                    this.$emit('status', this.status);
            }
        }
    }
</script>

<style lang="css" scoped>
#searchLabel {
    color: grey;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;   
    font-weight: lighter;
}
#searchInput {
    margin: 10px;
    padding: 5px 10px 5px 10px;
    font-family: Arial, Helvetica, sans-serif;   
    border: 2px solid grey;
    border-radius: 5px;
}
#searchInput:hover {
    border: 2px solid red;
}
#searchInput:focus {
    outline: 1px solid red;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.8);
}
.control {
    min-width: 100px;
    min-height: 25px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;   
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}
.control:hover {
    border: 2px solid red;
    box-shadow: 5px 5px 10px grey;
}
</style>
