<template>
	<div>
		<h2>
			{{ title }}
		</h2>
		<ul>
			<li v-for="film in truncatedFilmDescriptions" :key="film.id">
				<div id="film">
					<film-overview :film="film"></film-overview>
				</div>
			</li>
		</ul>
	</div>
</template>

<script>
import FilmOverview from '@/components/FilmOverview.vue'

	export default {
		components: {
			FilmOverview
		},
		props: {
			films: {
				type: Array,
				default: () => []
			}
		},
		data() {
			return {
				title: "Derniers films ajoutés"
			}
		},
		computed: {
			orderedFilms() {
				return [...this.films].sort((a,b) => {return a.created_at - b.created_at;});
				
			},
			truncatedFilmDescriptions(){
				return [...this.orderedFilms].splice(0,3);
			}
		}
	}
</script>

<style lang="css" scoped>
#h2 {
	color: grey; 
	font-family: Arial, Helvetica, sans-serif;   
	font-weight: lighter;
}
a {
	cursor: pointer;
	cursor: hand;
}
ul {
	list-style-type: none;
	width: 40%;
	margin: auto;
	padding: 0;
}
#film{
	margin: 30px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;   
	border: 3px solid red;
	border-radius: 50px;
	background-color: white;
}
</style>
