<template>
    <div class="mainContainer">
        <h2>Commentaires des membres</h2>
        <section v-if="loading || !this.critic"><p>Chargement des critiques...</p> <p>Chargement des membres...</p> </section>
        <section v-else>
            <CriticList :critics="returnWithoutCurrentUser()" :users="this.users"></CriticList>
        </section>
    </div>
</template>

<script>
import CriticList from '@/components/CriticList.vue';

    export default {
        components: {
            CriticList,
        },
        props:{
            film:{
                type: Object,
                default: null
            },
            critic:{
                type: Object,
                default: null
            },
        },
        data() {
            return {
                error: null,
                loading: false,
                users: null,
                currentUser: localStorage.user ? JSON.parse(localStorage.user) : null
            }
        },
        created(){

        },
        methods: {
            returnWithoutCurrentUser(){
                if(this.currentUser != null){
                    return this.critic.filter(c => c.user_id != this.currentUser.id);
                }
                else{
                    return this.critic;
                }

            }
        }
        
    }
</script>

<style lang="scss" scoped>
.mainContainer{
    height:fit-content;
}
</style>
