<template>
    <div>
        <h2>Changer Mot de passe</h2>
        <h3 v-if="errorUserInfos != null">{{ errorUserInfos }}</h3>
        <section v-if="errorUserInfos == null">
            <form @submit.prevent="validate()">
                <div class="row-form">
                    <label for="oldPassword">Mot de passe: </label>
                    <input type="password" name="oldPassword" id="oldPassword" v-model="oldPassword">
                </div>
                <div class="row-form">
                    <label for="newPassword">Nouveau mot de passe: </label>
                    <input type="password" name="newPassword" id="newPassword" v-model="newPassword">
                </div>
                <div class="row-form">
                    <label for="confirmPassword">Confirmer mot de passe: </label>
                    <input type="password" name="confirmPassword" id="confirmPassword" v-model="confirmPassword">
                </div>
                <div v-if="error != null">
                    <h3>{{ error }}</h3>
                </div>
                <button type="submit" id="validate">Valider</button>
            </form>
        </section>
    </div>
</template>

<script>
    import UseValidate from "@vuelidate/core";
    import {required, maxLength} from '@vuelidate/validators';
    import router from '@/router';
    import UserService from '@/services/UserService.js'

    export default {
        data(){
            return{
                v$: UseValidate(),
                oldPassword: "",
                newPassword: "",
                confirmPassword: "",
                errorUserInfos: null,
                error: null,
                userToPut: {
                    'email':null,
                    'last_name': null,
                    'first_name': null,
                    'login': null,
                    'role_id': null,
                    'password': null
                },
                header: null,
                user: null
            }
        },
        validations(){
            return{
                oldPassword: {required, maxLength: maxLength(50)},
                newPassword: {required, maxLength: maxLength(50)},
                confirmPassword: {required, maxLength: maxLength(50)},
            }
        },
        created() {
            this.user = JSON.parse(localStorage.getItem("user"));
            if(this.user != null)
            {
                this.header = {headers: { Authorization: `Bearer ${this.user.token}`}};
                UserService.getUser(this.user.id, this.header)
                                            .then(response => {
                                                console.log(response.data);
                                                this.userToPut['email'] = response.data.user.email;
                                                this.userToPut['last_name'] = response.data.user.last_name;
                                                this.userToPut['first_name'] = response.data.user.first_name;
                                                this.userToPut['login'] = response.data.user.login;
                                                this.userToPut['role_id'] = response.data.user.role_id;
                                                this.userToPut['password'] = this.user.password;
                                            })
                                            .catch(() => this.errorUserInfos = "Oups, désolé, quelque chose s'est mal passé, veuillez réssayer plus tard....");
            }
        },
        methods:{
            async validate(){
                await this.v$.$validate();
                if(this.v$.$error){
                    this.error = "Tous les champs sont requis et ne peuvent excéder 50 caractères.";
                }
                else{
                    this.changePassword();
                }
            },
            async changePassword(){
                this.error = null;
                this.verifyPassword();
                this.checkConfirmPassword();
                if(this.error == null)
                {
                    this.userToPut.password = this.newPassword;
                    this.sendNewPassword(this.userToPut, this.header);
                }
            },
            async sendNewPassword(userToPut, header){
                UserService.updatePassword(this.user.id, JSON.stringify(userToPut), header)
                .then(() => {
                    this.user['password'] = this.newPassword;
                    localStorage.setItem("user", JSON.stringify(this.user));
                    router.push('/');
                })
                .catch(() => this.erreur = "Oups, désolé, quelque chose s'est mal passé, veuillez réssayer plus tard....");
            },
            checkConfirmPassword(){
                if(this.newPassword != this.confirmPassword)
                {
                    this.error = "Le mot de passe de confirmation doit être identique au nouveau mot de passe choisi."
                }
            },
            verifyPassword(){
                if(this.oldPassword != this.userToPut.password)
                {
                    this.error = "Le mot de passe est incorrect."
                }
                if(this.newPassword == this.userToPut.password)
                {
                    this.error = "Le nouveau mot de passe ne peut pas être identique au mot de passe actuel."
                }
            }
        }
    }
</script>

<style lang="css" scoped>
.row-form {
    margin: 3%;
}
label {
    margin-right: 3%;;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

    color: grey;
}
input {
    padding: 5px 10px 5px 10px;
    font-family: Arial, Helvetica, sans-serif;   
    border: 2px solid grey;
    border-radius: 5px;
}
input:hover {
    border: 2px solid red;
}
input:focus {
    outline: 1px solid red;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.8);
}
#validate {
    min-width: 100px;
    min-height: 25px;
    margin: 0 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;   
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}
#validate:hover{
    border: 2px solid red;
    box-shadow: 5px 5px 10px grey;
}

#oldPassword {
    margin-left: 75px;
}

#newPassword {
    margin-left: 5px;
}
h3 {
	color: red;
    margin-bottom: 50px;
}
</style>
