<template>
    <div>
        <h1  class="mb-3"> {{ title }} </h1> 

        <form @submit.prevent="validateForm()">

            <div class="form-group col-md-6 mx-auto">
                <label>Login</label>
                <input v-model="this.userName" class="form-control" name="userName" type="text" placeholder="Nom d'utilisateur">
                <span class="text-danger" v-if="v$.userName.$error"> {{v$.userName.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6 mx-auto mt-3">
                <label>Nom Complet</label>
                <input v-model="this.fullName" class="form-control" name="fullName" type="text" placeholder="Nom Complet">
                <span class="text-danger" v-if="v$.fullName.$error"> {{v$.fullName.$errors[0].$message}} </span>
            </div>

            <div class="form-group col-md-6  mx-auto mt-3">
                <label>Email</label>
                <input v-model="this.email" class="form-control" name="email" type="text" placeholder="Adresse courriel">
                <span class="text-danger" v-if="v$.email.$error"> {{v$.email.$errors[0].$message}} </span>
            </div>

            <div v-if="erreur != null">
                <h3>{{ erreur }}</h3>
            </div>
            <div v-if="success != null">
                <h3 id="success">{{ success }}</h3>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-danger mt-3 w-25">Modifier</button>
            </div>

        </form>
        <section v-if="this.currentUser">
            <button @click="changePassword" class="btn btn-danger mt-3 w-25">Changer mot de passe</button>
        </section>
</div>
</template>

<script>
import useValidate from "@vuelidate/core";
import {required, minLength, maxLength, email } from '@vuelidate/validators';
import UserService from "@/services/UserService";
import router from "@/router";

export default {
    setup(){
        return {v$:useValidate()}
    },
    props:{
        title:String,
    },
    data(){
        return{
            userName: '',
            email: '',
            fullName: '',
            currentUser: localStorage.user ? JSON.parse(localStorage.user) : null, 
            currentUserInfos: null,
            erreur: null,
            success: null
        }
    }, 
    async created(){
        let header = { headers: { Authorization: `Bearer ${this.currentUser.token}`} };
        await UserService.getUser(this.currentUser.id, header).then(response => this.currentUserInfos = response.data.user);
        this.userName = this.currentUserInfos.login;
        this.email = this.currentUserInfos.email;
        this.fullName = this.currentUserInfos.first_name + " " + this.currentUserInfos.last_name;
    },
    validations(){
        return{
            userName: {required, minLength: minLength(3), maxLength: maxLength(50)},
            email: {required, email},
            fullName: {required, minLength: minLength(3), maxLength: maxLength(50)},
        }
    },
    methods: {
        async validateForm() {
            this.erreur = null;
            this.success = null;
            await this.v$.$validate();
            
            if(this.v$.$error){
                this.erreur = "Veuillez corriger les erreurs du formulaire avant de continuer";
            }
            else{
                let user = {
                    id:this.currentUser.id,
                    email: this.email,
                    login: this.userName,
                    password: this.currentUser.password,
                    first_name: this.fullName.split(/[ ]+/)[0],
                    last_name: this.fullName.split(/[ ]+/)[1],
                    role_id: 2,
                };

                let header = { headers: { Authorization: `Bearer ${this.currentUser.token}`} };
                let reponse = await UserService.update(this.currentUser.id, user, header);

                if(reponse.status == 204){
                    alert("Utilisateur modifié avec succès");
                }
                else{
                    this.erreur = "Oups, désolé, quelque chose s'est mal passé, veuillez réssayer plus tard....";
                }
            }
        },
        changePassword(){
            router.push('/user/password');
        }
    },
}
</script>

<style lang="scss" scoped>
h3 {
	color: red;
    margin: 30px;
}
#success {
    color: green;
}
</style>
