<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'WelcomeHome',
  props: {
    msg: String
  }
}
</script>

<style lang="css" scoped>
h1 {
  color: black; 
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
</style>
