<template>
  <nav>
    <div id="routes">
      <div id="username" v-if="isLogged">
        {{ login }}
      </div>
      <div class="route">
        <router-link to="/">Accueil</router-link>
      </div>
      <div class="route">
        <router-link v-if="isLogged" :to="{name: 'logout', params: {name: $router.currentRoute.value.name, history: JSON.stringify($router.currentRoute.value.params)}}">Se Déconnecter</router-link>
        <router-link v-else :to="{name: 'login', params: {name: $router.currentRoute.value.name, history: JSON.stringify($router.currentRoute.value.params)}}">Se Connecter</router-link>
      </div>
      <div class="route">
        <router-link v-if="isLogged" to="/user">Profil</router-link>
        <router-link v-else to="/user">S'inscrire</router-link>
      </div>
      <div class="route" v-if="isAdmin">
        <router-link  to="/admin">Menu administrateur</router-link>
      </div>
      <div class="route">
        <router-link to="/about">A propos</router-link>
      </div>
    </div>
    <div>
      <film-search @films="getFilms" @status="getStatus"></film-search>
    </div>
  </nav>
  <film-search-results @close="setStatus" :films="films" :status="status"></film-search-results>
  <router-view @logged="setLogged" id="router-view"/>
</template>

<script>
import FilmSearch from '@/components/FilmSearch.vue'
import FilmSearchResults from '@/components/FilmSearchResults.vue'

  export default {
    components: {
      FilmSearch,
      FilmSearchResults
    },
    data() {
      return {
        films: [],
        status: {
          'error': null,
          'searching': false,
          'finished': false
        },
        isLogged: false,
        isAdmin: false,
        user: null,
        login: null
      }
    },
    created(){
      if(localStorage.getItem('user') != null)
      {
        this.isLogged = true;
      }
    },
    methods:{
      getFilms(e){
        this.films = e;
      },
      getStatus(e){
        this.status = e;
      },
      setStatus(){
        this.status.searching = false;
        this.status.error = null;
        this.films = [];
      },
      setLogged(e){
        this.isLogged = e;
        this.$forceUpdate();
      }
    },
    watch: {
      isLogged: function() {
        if(this.isLogged == true)
        {
          this.user = JSON.parse(localStorage.getItem("user"));
          this.login = this.user.login;
        }
        else
        {
          this.user = null;
          this.login = null;
        }
      },
      'user.role'(){
        if(this.user != null && this.user.role == 1)
        {
          this.isAdmin = true;
        }
        else
        {
          this.isAdmin = false;
        }
      }
    }
  }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}
nav {
  display: flex;
  justify-content: space-between;

  padding: 15px 2% 20px 2%;

  border-bottom: 1px solid grey;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
nav a.router-link-exact-active {
  color: red;
}
nav a:hover {
  color: red;
}
.route{
  margin-right: 5px;
}
#routes {
  margin: 10px;
  padding: 10px;
  display: flex;
}
#username {
  margin-right: 15px;
  margin-top: -5px;
  padding: 5px;

  color: red;
  font-weight: bolder;

  border: 1px solid red;
  border-radius: 5px;
}
#subscribe{
  margin: 5px;
}
#router-view {
  margin-top: 5%;
}
</style>
